# Runtime requirements
--requirement requirements.txt

# Postgresql database access
psycopg2==2.8.2

# Documentation
Sphinx==2.0.1

# Testing
pytest==4.4.1
pytest-cov==2.6.1
coveralls==1.5.1

# Linting
flake8==3.6.0
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.0.0
