# Runtime requirements
--requirement requirements.txt

# Postgresql database access
psycopg2==2.8.4

# Documentation
Sphinx==2.3.1

# Testing
pytest==5.3.5
pytest-cov==2.8.1
coveralls==1.10.0

# Linting
flake8==3.7.7
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.1.1
